.chat-group-form
  %h1 チャットグループ編集
  = render partial: 'form', locals: { group: @group }
  %form#edit_chat_group_22.edit_chat_group{"accept-charset" => "UTF-8", :action => "/chat_groups/22", :method => "post"}
    .chat-group-form__field.clearfix
      .chat-group-form__field--left
      .chat-group-form__field--right