.main-page
  .main-header
    .main-sub
      .main-header__logo
        group name
      .main-header__logo_menber
        Menber
    .main-header__edit-btn
      Edit
  .messasge-page
    .message__box
      .message-line
        .message__menber
          masa
        .message__date
          2019/12/1(sun)
      .message__chat
        test
  .message-form
    .form__send
      %input.message-text{:placeholder => "type a message"}
      %label{class: "input-box__image", for: "message_image"}
        = icon('fas', 'image')
      %input.send{type: "submit", value: "Send"}