.contents
  .contents__top
    .contents__top__box
      .contents__top__box__logo
        user_name
      .contents__top__box__icons
        = link_to @inport do
          %i.fas.fa-pen
        = link_to @inport do
          %i.fas.fa-cog
  .contents__bottom
    .contents__bottom__box
      .contents__bottom__box__item
        test2
      .contents__bottom__box__message
        まだメッセージありません