.contents
  .contents-top
    .contents__box
      .contents__logo
        user_name
      .contents__icons
        = link_to @inport do
          %i.fas.fa-pen
        = link_to @inport do
          %i.fas.fa-cog
  .contents-bottom
    .contents__item
      test2
    .contents__message
      まだメッセージありません